.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8vw;
  margin-right: 8vw;
}

.carousel {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide {
  cursor: pointer;
  margin: 0 5px;
  position: relative;
  display: flex;
  text-align: center;
  transition: transform 0.3s;
}

.slide img {
  width: 17vw;
  height: auto;
  transition: filter 0.3s;
}

.slide:hover img { 
  filter: brightness(0.5);
}

.slide-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  text-align: left;
}

.slide-title {
  display: flex;
  justify-content: left;
  height: 12vh;
  font-weight: bold;
  font-size: 2vw;
  color: white;
  padding: 0 10px 15px 15px;
  text-shadow: 2px 2px #000, 2px 2px #000, 3px 3px #000;
}

.slide:hover .slide-title { 
  font-size: 2.2vw;
  text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  height: 10vh;
  border-radius: 50%;
  background-color: rgba(255, 204, 41, 0.3);
  cursor: pointer;
  z-index: 1;
}

.arrow:hover {
  background-color: rgba(255, 204, 41, 0.4);
  height: 10.3vh;
}

.arrow:hover > .arrow-icon {
  color: rgba(0, 0, 0);
  font-size: 2.2vw;
}

.left-arrow {
  margin-right: 3%;
}

.right-arrow {
  margin-left: 3%;
}

.arrow-icon {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2vw;
}

/* Smartphones */
@media (max-width: 767px) {
  .carousel-container {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .slide img {
    width: 35.5vw;
  }

  .slide:hover img { 
    filter: brightness(1);
  }

  .slide-title,
  .slide:hover .slide-title {
    font-size: 5vw;
    padding: 0 0 0 8px;
    height: 8vh;
  }

  .arrow, 
  .arrow:hover {
    height: 3vh;
    width: 8%;
  }

}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
}

/* Laptops e desktops menores */
@media (min-width: 1024px) and (max-width: 1279px) {
  /* Estilos para laptops e desktops menores */
}

/* Laptops e desktops maiores */
@media (min-width: 1280px) and (max-width: 1439px) {
  /* Estilos para laptops e desktops maiores */
}

/* Laptops e desktops ainda maiores */
@media (min-width: 1440px) and (max-width: 1919px) {
  /* Estilos para laptops e desktops ainda maiores */
}
