.carousel-container {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide {
  margin: 0 5px;  
  position: relative;
  display: flex;
  text-align: center;
  transition: transform 0.3s;
}

.slide img {
  width: 100%;
  height: auto;
  transition: filter 0.3s;
}

.slide-content {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
}

.slide.active .slide-content {
  display: block; /* Mostra a descrição quando o slide está ativo */
}

.slide-content .slide-title {
  color: white;
  margin-top: 50%;
  transform: translate(0, -50%);
  font-weight: bold;
  font-size: 1.2vw;
}

.slide-content .slide-description {
  font-size: 0.95vw;
  padding-inline: 5.5%;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  height: 10vh;
  border-radius: 50%;
  background-color: rgba(255, 204, 41, 0.3);
  cursor: pointer;
  z-index: 1;
}

.arrow:hover {
  background-color: rgba(255, 204, 41, 0.4);
  height: 10.3vh;
}

.arrow:hover > .arrow-icon {
  color: rgba(0, 0, 0);
  font-size: 2.2vw;
}

.left-arrow {
  margin-right: 3%;
}

.right-arrow {
  margin-left: 3%;
}

.arrow-icon {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2vw;
}